/* Style de la fenêtre modale */
#modalBienvenue {
    display: none;
    /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Arrière-plan semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal-contenu {
    background-color: #3f8880;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
}

.modal-contenu h2 {
    color: #fff;
    letter-spacing: 1px;
    font-weight: bolder;
}

.modal-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-btn:hover {
    background-color: #356f6a;
}

/* FIN Message de bienvenue  */

/* body de la page */

body {
    max-width: 100%;
    background-color: #171718;
    padding: 0;
    margin: 0;
}

/* Fin body de la page */


/* en tête */

header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 180px;
    text-align: center;
    box-shadow: 0px 1px 1vh rgba(255, 255, 255, 0.2);
    background-color: rgba(63, 136, 128, 0.1);

}

#profile {
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(63, 136, 128, 0.5);
    object-fit: contain;
    /*margin-block: 5px;
    margin-left: 100px;*/
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-left: 20%;
}

/*
header img:hover + h1 {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}
header img:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}
    */

#code_icon {
    cursor: pointer;
    color: #3f8880;
    /*border: 1px solid #3f8880;*/
    border-radius: 100px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(63, 136, 128, 0.5);
    width: 65px;
    height: 65px;
}

header h1 {
    /*margin-top: 50px;*/
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    background-color: transparent;
}

/*
.header_ligne_vertical {
    background-color: #3f8880;
    width: 3px;
    height: 80px;
    margin-block-start: 20px;
}


header ul {
    display: flex;
    gap: 100px;
    font-size: 17px;
    align-items: center;
}

header ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    transition: 0.5s ease-out;

}

header ul li:hover {
    box-shadow: 0px 0px 60px rgba(63, 136, 128, 1);
    letter-spacing: 2px;


}

header ul li i {
    font-size: 50px;
    color: #3f8880;

}

header ul li a {
    text-decoration: none;
    color: #fff;
    border-top: 3px solid #3f8880;
    margin-block-start: 10px;
    padding: 5px;
}
    */

/* Fin en tête */

/* Contenu */

.contenu {
    width: 100%;
    margin-top: 40px;
}

.contenu p {
    text-align: center;
    color: #fff;
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 80px;
}

.contenu .qui_suis_je {
    height: auto;
    display: flex;
    flex-direction: column;
}

.contenu .qui_suis_je .block_titre_qui_sui_je {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    width: 15%;
    /*box-shadow: 0px 0px 15px rgba(63, 136, 128, 0.1);*/
    margin-left: 100px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.contenu .qui_suis_je .titre_qui_sui_je {
    text-decoration: none;
    color: #fff;
    /* border-top: 3px solid #3f8880;
    border-bottom: 3px solid #3f8880;
    border-right: 3px solid #3f8880;*/
    font-size: 19px;
    letter-spacing: 2px;
    text-align: center;
    transition: 0.5s ease-out;

}

#avatar_male_man_person_user_icon {
    width: 60px;
    height: 60px;
    background-color: rgba(63, 136, 128, 0.5);
    text-align: center;
    border-radius: 100px;
}


.contenu .qui_suis_je .resume_presentation {
    box-shadow: 0px 0px 20px rgba(63, 136, 128, 0.1);
    width: 60%;
    margin-left: 46vh;
    margin-top: -8.7vh;
    border-radius: 5px;
    padding-inline: 30px;
    transition: 0.5s ease-out;
    
}

.contenu .qui_suis_je .resume_presentation:hover {
    background-color: rgba(63, 136, 128, 0.1);
}

.contenu .qui_suis_je .resume_presentation p {
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: justify;
}

.contenu .skills {
    margin-top: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contenu .skills .block_skills {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    width: 15%;
    /*box-shadow: 0px 0px 15px rgba(63, 136, 128, 0.2);*/
    margin-left: 100px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.contenu .skills .block_skills .titre_skills {
    text-decoration: none;
    color: #fff;
    /* border-top: 3px solid #3f8880;
    border-bottom: 3px solid #3f8880;
    border-right: 3px solid #3f8880;*/
    font-size: 19px;
    letter-spacing: 2px;
    text-align: center;
}

#skills_icon_blanc {
    width: 60px;
    height: 60px;
    background-color: rgba(63, 136, 128, 0.5);
    text-align: center;
    border-radius: 100px;
    
}

.resume_presentation p .span {
    font-weight: bold;
    color: #3f8880;
}

.resume_presentation p {
    margin-bottom: 0px;
}


/* Fin contenu */
