@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/* Style de la fenêtre modale */
#modalBienvenue {
    display: none;
    /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Arrière-plan semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal-contenu {
    background-color: #3f8880;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
}

.modal-contenu h2 {
    color: #fff;
    letter-spacing: 1px;
    font-weight: bolder;
}

.modal-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.modal-btn:hover {
    background-color: #356f6a;
}

/* FIN Message de bienvenue  */

/* body de la page */

body {
    max-width: 100%;
    background-color: #171718;
    padding: 0;
    margin: 0;
}

/* Fin body de la page */


/* en tête */

header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 180px;
    text-align: center;
    box-shadow: 0px 1px 1vh rgba(255, 255, 255, 0.2);
    background-color: rgba(63, 136, 128, 0.1);

}

#profile {
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgba(63, 136, 128, 0.5);
    object-fit: contain;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin-left: 20%;
}

#code_icon {
    cursor: pointer;
    color: #3f8880;
    border-radius: 100px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(63, 136, 128, 0.5);
    width: 65px;
    height: 65px;
}

header h1 {
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    background-color: transparent;
}

.contenu {
    width: 100%;
    margin-top: 40px;
}

/* Contenu presentation */

.contenu .p_contenu {
    text-align: center;
    color: #fff;
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-bottom: 80px;
}

.contenu .qui_suis_je {
    height: auto;
    display: flex;
    flex-direction: column;
}

.contenu .qui_suis_je .block_titre_qui_sui_je {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    width: 15%;
    margin-left: 100px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.contenu .qui_suis_je .titre_qui_sui_je {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    letter-spacing: 2px;
    text-align: center;
    transition: 0.5s ease-out;

}

#avatar_male_man_person_user_icon {
    width: 60px;
    height: 60px;
    background-color: rgba(63, 136, 128, 0.5);
    text-align: center;
    border-radius: 100px;
}


.contenu .qui_suis_je .resume_presentation {
    box-shadow: 0px 0px 20px rgba(63, 136, 128, 0.1);
    width: 60%;
    margin-left: 46vh;
    margin-top: -8.7vh;
    border-radius: 5px;
    padding-inline: 30px;
    transition: 0.5s ease-out;
    color: #fff;
}

.contenu .qui_suis_je .resume_presentation:hover {
    background-color: rgba(63, 136, 128, 0.1);
}

.contenu .qui_suis_je .resume_presentation .p_resume_prestation {
    font-size: 18px;
    letter-spacing: 1.5px;
    text-align: justify;
    margin-bottom: 0px;
}
.resume_presentation .p_resume_prestation .span {
    font-weight: bold;
    color: #3f8880;
}

/* Fin contenu presentation */

/* Mes compétences */

/* Titre des langages appris */
.contenu .skills {
    margin-top: 80px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.contenu .skills .block_skills {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    width: 15%;
    margin-left: 100px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.contenu .skills .block_skills .titre_skills {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    letter-spacing: 2px;
    text-align: center;
}

#skills_icon_blanc {
    width: 60px;
    height: 60px;
    background-color: rgba(63, 136, 128, 0.5);
    text-align: center;
    border-radius: 100px;
}

.skills .langages_skills {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.skills .langages_skills li {
    border: 1px solid #3f8880;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s ease-out;
}

.skills .langages_skills li:hover {
    background-color: rgba(63, 136, 128, 0.5);
    letter-spacing: 3px;
}

.skills .langages_skills li a {
    text-decoration: none;
    color: #fff;
}

/* Fin Titre des langages appris */


/* Block de mes projets réalisés */

.block_skills_slide {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    margin-top: 30px;
    margin-left: 46vh;
}

.block_skills_slide .block {
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    width: 30%;
    height: 25vh;
    text-align: center;
}

.block_skills_slide .block a {
    position: absolute;
    width: 50vh;
    height: 25vh;
    transition: 0.5s ease-out;
    
}

.block_skills_slide .block a:hover {
    background-color: rgba(0, 0, 0, 1);
}

.block_skills_slide .block a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-out;
}

.block_skills_slide .block a img:hover {
    opacity: 0.2;
}

.titre_apercu_stack {
    background-color: rgba(63, 136, 128, 0.7);
    width: 50%;
    height: 50px;
    position: relative;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.block_skills_slide .block .p_contenu_slide_skill {
    color: #fff;
    width: 100%;
    background-color: rgba(63, 136, 128, 0.7);
    position: relative;
    padding: 5px;
    font-weight: bolder;
    word-spacing: 0px;
    letter-spacing: 2px;
    flex-wrap: wrap ;

}

/* Block de mes projets réalisés */

/* Fin contenu */
